# <span style = 'color:blue'>Tetouan Power Consumption</span>
                                                                                                  David Ugochukwu Asogwa
                                                                                                  28 August, 2022.
                                                                                                  
A study of the power consumption in Tetouan, a city in the Northern part of Morocco, with land area of approximately 10375 sq.km. and a population of about 400,000 inhabitants as of 2017 census, with an annual increase of approximately 1.78% in 2017. The dataset focuses on three zones supplying energy to the city, namely: Quads, Smir and Boussafou.

The data consists of 52,416 observations of energy consumption on a 10-minute window. Every observation is described by 9 feature columns.
1. Date Time: Time window of ten minutes.
2. Temperature: Weather Temperature.
3. Humidity: Weather Humidity.
4. Wind Speed: Wind Speed.
5. General Diffuse Flows: “Diffuse flow” is a catchall term to describe low-temperature (< 0.2° to ~ 100°C) fluids that slowly discharge through sulfide mounds, fractured lava flows, and assemblages of bacterial mats and macrofauna.
6. Diffuse Flows
7. Zone 1 Power Consumption
8. Zone 2 Power Consumption
9. Zone 3 Power Consumption

Data source: https://www.kaggle.com/datasets/fedesoriano/electric-power-consumption

In [1]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline
sb.set_style('dark')

import warnings
warnings.filterwarnings('ignore')

data = pd.read_csv('powerconsumption.csv')
data.head()

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [2]:
data.isnull().sum()

Datetime                  0
Temperature               0
Humidity                  0
WindSpeed                 0
GeneralDiffuseFlows       0
DiffuseFlows              0
PowerConsumption_Zone1    0
PowerConsumption_Zone2    0
PowerConsumption_Zone3    0
dtype: int64

In [3]:
data.describe()

,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3
count,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000
mean,18.810024,68.259518,1.959489,182.696614,75.028022,32344.970564,21042.509082,17835.406218
std,5.815476,15.551177,2.348862,264.400960,124.210949,7130.562564,5201.465892,6622.165099
min,3.247000,11.340000,0.050000,0.004000,0.011000,13895.696200,8560.081466,5935.174070
25%,14.410000,58.310000,0.078000,0.062000,0.122000,26310.668692,16980.766032,13129.326630
50%,18.780000,69.860000,0.086000,5.035500,4.456000,32265.920340,20823.168405,16415.117470
75%,22.890000,81.400000,4.915000,319.600000,101.000000,37309.018185,24713.717520,21624.100420
max,40.010000,94.800000,6.483000,1163.000000,936.000000,52204.395120,37408.860760,47598.326360

In [4]:
data.corr()

,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3
Temperature,1.000000,-0.460243,0.477109,0.460294,0.196522,0.440221,0.382428,0.489527
Humidity,-0.460243,1.000000,-0.135853,-0.468138,-0.256886,-0.287421,-0.294961,-0.233022
WindSpeed,0.477109,-0.135853,1.000000,0.133733,-0.000972,0.167444,0.146413,0.278641
GeneralDiffuseFlows,0.460294,-0.468138,0.133733,1.000000,0.564718,0.187965,0.157223,0.063376
DiffuseFlows,0.196522,-0.256886,-0.000972,0.564718,1.000000,0.080274,0.044667,-0.038506
PowerConsumption_Zone1,0.440221,-0.287421,0.167444,0.187965,0.080274,1.000000,0.834519,0.750733
PowerConsumption_Zone2,0.382428,-0.294961,0.146413,0.157223,0.044667,0.834519,1.000000,0.570932
PowerConsumption_Zone3,0.489527,-0.233022,0.278641,0.063376,-0.038506,0.750733,0.570932,1.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Datetime                52416 non-null  object
 1   Temperature             52416 non-null  float64
 2   Humidity                52416 non-null  float64
 3   WindSpeed               52416 non-null  float64
 4   GeneralDiffuseFlows     52416 non-null  float64
 5   DiffuseFlows            52416 non-null  float64
 6   PowerConsumption_Zone1  52416 non-null  float64
 7   PowerConsumption_Zone2  52416 non-null  float64
 8   PowerConsumption_Zone3  52416 non-null  float64
dtypes: float64(8), object(1)
memory usage: 3.6+ MB

## <span style = 'color:blue'>Issues to resolve</span>
1. DateTime datatype is object. Change to datetime.
2. Separate DateTime into columns with day, month and year
3. Rename the following columns:
    - PowerConsumption_Zone1 to zone_1
    - PowerConsumption_Zone2 to zone_2
    - PowerConsumption_Zone3 to zone_3
    - WindSpeed to wind_speed
    - DiffuseFlows to diffuse_flows
    - GeneralDiffuseFlows to general_diffuse_flows
4. All column names should be lower case.
5. Modify months from integer to names: January, February, March, etc and change data type to category.

In [6]:
data_ = data.copy()

### <span style = 'color:blue'>Issue 1</span>

In [7]:
data_.Datetime = pd.to_datetime(data.Datetime)
data_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Datetime                52416 non-null  datetime64[ns]
 1   Temperature             52416 non-null  float64
 2   Humidity                52416 non-null  float64
 3   WindSpeed               52416 non-null  float64
 4   GeneralDiffuseFlows     52416 non-null  float64
 5   DiffuseFlows            52416 non-null  float64
 6   PowerConsumption_Zone1  52416 non-null  float64
 7   PowerConsumption_Zone2  52416 non-null  float64
 8   PowerConsumption_Zone3  52416 non-null  float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 3.6 MB

### <span style = 'color:blue'>Issue 2</span>

In [8]:
data_['year'] = data_.Datetime.dt.year
data_['month'] = data_.Datetime.dt.month
data_['day'] = data_.Datetime.dt.day
data_['time'] = data_.Datetime.dt.time
# data['time'] = [d.time() for d in data.Datetime] # perform same function as the code before.
data_.drop('Datetime', axis = 1, inplace = True)
data_.head()

,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3,year,month,day,time
0,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386,2017,1,1,00:00:00
1,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434,2017,1,1,00:10:00
2,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373,2017,1,1,00:20:00
3,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711,2017,1,1,00:30:00
4,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964,2017,1,1,00:40:00

In [9]:
data_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Temperature             52416 non-null  float64
 1   Humidity                52416 non-null  float64
 2   WindSpeed               52416 non-null  float64
 3   GeneralDiffuseFlows     52416 non-null  float64
 4   DiffuseFlows            52416 non-null  float64
 5   PowerConsumption_Zone1  52416 non-null  float64
 6   PowerConsumption_Zone2  52416 non-null  float64
 7   PowerConsumption_Zone3  52416 non-null  float64
 8   year                    52416 non-null  int64
 9   month                   52416 non-null  int64
 10  day                     52416 non-null  int64
 11  time                    52416 non-null  object
dtypes: float64(8), int64(3), object(1)
memory usage: 4.8+ MB

### <span style = 'color:blue'>Issue 3</span>

In [10]:
columns = {'WindSpeed':'wind_speed', 'GeneralDiffuseFlows':'general_diffuse_flows', 'DiffuseFlows':'diffuse_flows',
           'PowerConsumption_Zone1':'zone_1', 'PowerConsumption_Zone2':'zone_2', 'PowerConsumption_Zone3':'zone_3',}
data_.rename(columns = columns, inplace = True)
data_.head()

,Temperature,Humidity,wind_speed,general_diffuse_flows,diffuse_flows,zone_1,zone_2,zone_3,year,month,day,time
0,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386,2017,1,1,00:00:00
1,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434,2017,1,1,00:10:00
2,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373,2017,1,1,00:20:00
3,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711,2017,1,1,00:30:00
4,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964,2017,1,1,00:40:00

### <span style = 'color:blue'>Issue 4</span>

In [11]:
data_.columns = data_.columns.str.lower()
data_.columns

Index(['temperature', 'humidity', 'wind_speed', 'general_diffuse_flows',
       'diffuse_flows', 'zone_1', 'zone_2', 'zone_3', 'year', 'month', 'day',
       'time'],
      dtype='object')

### <span style = 'color:blue'>Issue 5</span>

In [12]:
data_.month.replace({1:'January', 2:'February', 3:'March', 4:'April', 5:'May', 6:'June', 7:'July', 8:'August',
                     9:'September', 10:'October', 11:'November', 12:'December'}, inplace = True)
data_.month = data_.month.astype('category')
print('Data type for column month is',data_.month.dtype)
data_.month.value_counts()

Data type for column month is category

August       4464
January      4464
July         4464
March        4464
May          4464
October      4464
April        4320
December     4320
June         4320
November     4320
September    4320
February     4032
Name: month, dtype: int64

In [13]:
data_.head()

,temperature,humidity,wind_speed,general_diffuse_flows,diffuse_flows,zone_1,zone_2,zone_3,year,month,day,time
0,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386,2017,January,1,00:00:00
1,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434,2017,January,1,00:10:00
2,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373,2017,January,1,00:20:00
3,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711,2017,January,1,00:30:00
4,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964,2017,January,1,00:40:00

In [14]:
data_.tail()

,temperature,humidity,wind_speed,general_diffuse_flows,diffuse_flows,zone_1,zone_2,zone_3,year,month,day,time
52411,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212,2017,December,30,23:10:00
52412,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152,2017,December,30,23:20:00
52413,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259,2017,December,30,23:30:00
52414,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504,2017,December,30,23:40:00
52415,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820,2017,December,30,23:50:00

## <span style = 'color:blue'>Saving cleaned data set</span>

In [15]:
data_.to_csv('Master_dataset.csv', index = False)